/*/////////////////////////*/
/*Mobile */

html {
	font-size: 62.5%; /*1rem = 10px*/
}

*{
	box-sizing: border-box;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	margin: 0 auto;
	line-height: 1.6;
	font-size: 1.6rem;
	color: #000000;


}

header{
	font-family: 'Julius Sans One', sans-serif;
	height: 130px;
	padding: 0 1rem 5rem 1rem;
	text-align: center;
}

nav{
	position: relative;
	text-align: center;
	font-weight: bold;
}


.containerHeader {
	max-width: 1250px;
	margin : 0 auto;
}

.container {
	max-width: 1250px;
}


a{
	text-decoration: none;
	color: #000000;
}

header nav a{
	text-decoration: none;
	text-transform: uppercase;
	color: #2a8782;
}
header a{
	display: block;
	padding: 2px 0;
}
#index {
	color: black;
	text-align: center;
}

header nav ul li a:hover{
	opacity:1;
	background-color: rgba(255,255,255,0.15);

}

header nav:hover a {
    opacity: 0.7;
}

.grey{
	color: grey;
}
.logo img{
	width: 50%;
	vertical-align: middle;
}


.logo{
	width: 32%;
	display: inline-block;
	position: relative;
	text-align: center;

}
.alainDiv,.charlotteDiv{
	display: inline-block;
	width:32%; 
}

div #index #archiInterieur{
	width: 100%;
	text-align: right;
	
}

div #index #archiInterieur p{
	
	font-size:1.5rem;
	font-style: italic;


}

.charlotte {
	transform: translateX(200px);
}

.alain{
	transform: translateX(200px);
}


#drop_down_menu, #drop_down_menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#drop_down_menu {
    text-align: center;
}
#drop_down_menu li {

	display: block;
}
#drop_down_menu ul li {
    display: inherit;
}
#drop_down_menu a {
    text-decoration: none;
    display: block;
    font-size: 1.7rem;
}

#drop_down_menu ul {
		display: inline-block;
	    position: relative;
	    text-align: left;
	    padding: 10px 20px;
	    z-index: 1000;
	  
}
#drop_down_menu ul>li>a{
	color: grey;
	font-style: italic;
}
#drop_down_menu li:hover ul {
    left: auto;
}






main{
    padding: 1rem 2rem;
    width: 80%;
	margin: 110px auto 0 auto;
}

h1{
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	font-size: 2.5rem;

}



/*****CARROUSEL*****/

h2{
	color: #2a8782;
}
#carrousel{
	text-align: center;
}
#carrousel>img{
	border : 15px solid #ffffff;
	border-radius: 5px;
    box-shadow: 2px 2px 2px 2px grey;
   /* transform: rotate(-2deg);*/
    margin-bottom: 2%;
    width: 100%;

}



#pause{
	display : none;
}





/***** PRESTATIONS*****/
.imgPrestations{
	display: inline-block;
	width:23%;
}

.photosPrestations{
	text-align: center;



}
/***** REALISATIONS*****/


.realisations img{
/*	display: inline-block;
*/	width: 100%;
/*	max-height: 250px;
*/	text-align: center;
/*	margin: 0 20px;
*/}

.realisations{
	text-align: center;
}

.realisations {
	margin: 0 0 2rem 0 ;
}

.realisations h5{
	margin: -0.7rem 0 2rem 0 ;
	width : 100%;
	background-color : black;
	color: white;
}

.realisations a{
	margin : 0;
}




.reaPart ,.reaPro{
	width :100%;
	display: inline-block;
	text-align: center;
	padding : 0;
}

		/*
.grayscale img {

        filter: grayscale(100%);
        transition: .3s ease-in-out;

}

.grayscale:hover img {
        filter: grayscale(0);

}

*/

.center{
	text-align: center;
}



.reaPart, .reaPro{
	text-align: center;
	/*margin: 15% 0 25% 0;*/
}

.reaPart img, .reaPro img{
	width : 100%;
	text-align: center;
}

.reaPart h6.name, .reaPro h6.name{
	background-color: black;
	color:white;
	margin :-3% auto 0 auto;
	width :100%;
	text-align: center;
}







/****réa Part Pro vignettes****/


/*slider*/


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}	
.mySlides img {
  width : 100%;
}

#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #2a8782;
  font-weight: bold;
  font-size: 3rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  text-align: center;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/****MENTIONS LEGALES****/
.mentionsLegales{
	margin-top: 5rem;
}



/*****A PROPOS*****/

p{
	font-size: 1.5rem;
}

#signature{
	font-weight: bold;
	text-align: right;
	padding-right: 10%;
}
#aPropos{
	font-style: italic;
    font-family: 'Shadows Into Light', cursive;
}
#aProposText,#aProposImg{
	display: inline-block;
}
#aProposText{
	width: 100%;
	background-color:#000000;
	color: #ffffff;
	padding: 2%;
	text-align: justify;
}
#aProposImg{
	width: 100%;
	vertical-align: top;

}
img#aProposImg{
	width: 100%;

}


/****CONTACT***/

.register{
	text-align: left;
	margin: 1rem auto;
	padding-left: 5%;
}

input, select, textarea{
	width: 90%;

}
.button{
	width: 30%;
	padding : 0.2rem;

}

label{
    display: inline-block;
}
.register>label{
	width: 175px;
	vertical-align: top;
}
textarea{
	border-radius: 5px;
	border: 1px solid #929292;;
}

.mailTel{
	text-align: center;
}

.button-cancel{
	background-color: #dddddd;
	color: grey;
	display: inline-block;
	padding: 0.5em 1em;
	border: none;
	border-radius: 4px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
	line-height: 1.5em;
	text-decoration: none;
	font-size: 75%;
	vertical-align: bottom;
}


.error{
	color: #2a8782;
	font-style: italic;

}

/******FOOTER******/
footer{
	margin: 0 auto;
	text-align: center;
}

div#facebook{
	text-align: center;

}

div#linkedin{
	text-align: center;
}





/* Tablette */

@media only screen and (min-width: 768px) {





	.alainDiv{
		display: inline-block;
	
		width: 32%;
		font-family: 'Julius Sans One', 'Arial', sans-serif;
		font-size: 40px;
		text-transform: uppercase;

		text-align: left;


	}

		.charlotteDiv{
		display: inline-block;
	
		width: 32%;
		font-family: 'Julius Sans One', 'Arial', sans-serif;
		font-size: 40px;
		text-transform: uppercase;
		text-align: right;


	}



	.charlotte{
		text-align: center;
		transform-origin: 50% 100%:
	}

	.alain{
		text-align: left;
		transform-origin: 50% 100%:
	}



	span.alain {
		animation-duration: 3s;
	  	animation-name: alain;


	}

	@keyframes alain {
	  	from {
			margin-left: 100%;
			opacity: 0.5;		

	 	}

	  	to {
	    	opacity: 1;
	    	margin-left: 0%;		

	  	}
	}



	span.charlotte {
		animation-duration: 3s;	
		animation-name: charlotte;


	}

	@keyframes charlotte {
	  	from {
			margin-right: 100%;		
			opacity: 0.5;
	 	}

	  	to {
	    	opacity: 1;
	    	margin-right: 0%;		

	  	}
	}





	nav>ul{
		display: flex;
	}



	nav>ul>li{
		display: inline-block;
		text-align: center;
		margin: 10px auto;
		width : 25%;
		flex-flow: row nowrap;
		justify-content: space-between;

	}

	#drop_down_menu ul {
		display: none;
	    position: absolute;
	    left: -999em;
	    text-align: left;
	    padding: 10px 20px;
	    z-index: 1000;
	  
	}
	#drop_down_menu li {

	display: inline-block;
	}



	#index div{
		display: inline-block;
		text-align: center;

	}
	#index div p{
		font-size: 2rem;

	}




	#drop_down_menu, #drop_down_menu ul {
	    padding: 0;
	    margin: 0; 
	    list-style: none;
	}
	#drop_down_menu {
	    text-align: center;
	}
	#drop_down_menu li {
	    display: inline-block;
	}
	#drop_down_menu ul li {
	    display: inherit;
	}
	#drop_down_menu a {
	    text-decoration: none;
	    display: block;
	}
	#drop_down_menu ul {
		display: inline-block;
	    position: relative;
	    text-align: left;
	    padding: 10px 20px;
	    z-index: 1000;
	}
	#drop_down_menu li:hover ul {
	    left: auto;
	}


	section #aPropos img, section #aPropos h1{
		
		display: inline-block;
		text-align: left;

	}

	#facebook, #twitter, #linkedin{
		display: inline-block;
		width: 30%;
		text-align: center;
		font-size: 3rem;
	}
	

	/******FOOTER******/

	footer{
		text-align: center;
		margin-top: 5rem;
		border: 1px dashed grey;
		background-color: #dddddd;
	}
	#licence>p{
		margin: 0;
	}

	div#facebook{
		text-align: left;

	}

	div#linkedin{
		text-align: right;
	}
	
	/***** REALISATIONS*****/

	.realisations article{
		display: inline-block;
		width: 45%;
	}
	.realisations img{
		width: 100%;
	}

	


	.realisations h5{
		width : 100%;
	}






	/****réa Part Pro****/

	.reaPart ,.reaPro{
		width : 33%;
		display: inline-block;
		text-align: center;
		padding : 0;
	}
	.reaPart img,.reaPro img{
		max-height: 250px;
	}

		
	.grayscale img {

	        filter: grayscale(100%);
	        transition: .3s ease-in-out;

	}

	.grayscale:hover img {
	        filter: grayscale(0);

	}



	.reaPart, .reaPro{
		text-align: center;
		/*margin: 15% 0 25% 0;*/
	}

	.reaPart img, .reaPro img{
		width : 100%;
		text-align: center;
	}

	.reaPart h6.name, .reaPro h6.name{
		background-color: black;
		color:white;
		margin :-2% auto 0 auto;
		width :100%;
		text-align: center;
	}
	img.realisationPartImg{
		width: 59px;
		height: 37px;
	}


	img.realisationProImg{
		width: 59px;
		height: 37px;
	}

	


	.fa-chevron-left,.fa-chevron-right{
		color: grey;
	}



	.clear{
		clear: both;
		display: block;
		
	}

	div.bas{
		display: inline-block;
	}

   	
	.imageReaHover{
		width: 90%;
		text-align: center;
		display: contents;	
		z-index: 2;
	}

	.alignCenter{
		text-align: center;
	}




	/****a propos****/

	#aProposText{
		width: 64%;
		
	}
	#aProposImg{
		width: 35%;
		vertical-align: top;

	}
	.center {
		text-align: center;
	}

/******contact******/
	
	.mailTel{
		display: inline-block;
		text-align: center;
		width : 49%;
	}

	

	
}


/* Desktop */

@media only screen and (min-width: 1025px) {

	#drop_down_menu ul {
		    padding: 10px 100px;
		}
	#licence{
		margin-top: 5rem;
	}
}

