/*/////////////////////////*/
/*Mobile */

html {
	font-size: 62.5%; /*1rem = 10px*/
}

*{
	box-sizing: border-box;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	margin: 0 auto;
	line-height: 1.6;
	font-size: 1.6rem;
	color: #000000;


}

header{
	font-family: 'Julius Sans One', sans-serif;
	height: 130px;
	padding: 0 2rem 5rem 2rem;
	text-align: center;
}

nav{
	position: relative;
	text-align: center;
	font-weight: bold;
}


.container {
	max-width: 1100px;
	margin : 0 auto;
}

a{
	text-decoration: none;
	color: #000000;
}

header nav a{
	text-decoration: none;
	text-transform: uppercase;
	color: #2a8782;
}
header a{
	display: block;
	padding: 2px 0;
}
#index {
	color: black;
	text-align: center;
	padding-bottom: 2%;
}

header nav ul li a:hover{
	opacity:1;
	background-color: rgba(255,255,255,0.15);

}

header nav:hover a {
    opacity: 0.7;
}

.logo img{
	width: 150px;
}

div #index #archiInterieur{
	width: 100%;
	text-align: right;
	
}

div #index #archiInterieur p{
	
	font-size:1.5rem;
	font-style: italic;


}






#drop_down_menu, #drop_down_menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#drop_down_menu {
    text-align: center;
}
#drop_down_menu li {
/*    display: inline-block;
*/
	display: block;
}
#drop_down_menu ul li {
    display: inherit;
}
#drop_down_menu a {
    text-decoration: none;
    display: block;
}
#drop_down_menu ul {
	display : none;
    position: absolute;
    left: -999em;
    text-align: left;
    padding: 10px 100px;
    z-index: 1000;
}
#drop_down_menu li:hover ul {
    left: auto;
}


.logo{
	width: 150px;
	position: relative;
	text-align: center;

}


.first,.logo, .last{
	display: inline-block;
	font-family: 'Julius Sans One', 'Arial', sans-serif;
	font-size: 40px;
	height: 88px;
	letter-spacing: 6px;
	line-height: 88px;
	opacity: 1;
	text-align: center;
	vertical-align: top;

}


main{
    padding: 1rem 2rem;
    width: 80%;
	margin: 80px auto 0 auto;
}

h1{
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	font-size: 2.5rem;

}

.imgSlider{
	max-height: 450px;
}





/***** PRESTATIONS*****/
.imgPrestations{
	display: inline-block;
	width:23%;
}

.photosPrestations{
	text-align: center;
}
/***** REALISATIONS*****/


.realisations img{
	display: inline-block;
	width: 45%;
	max-height: 250px;
	text-align: center;
	padding: 0 20px;
}

.realisations{
	text-align: center;
}

.realisations h3{
	margin: 0;
}

.realisations h5{
	margin: 0;
	display: inline-block;
	width : 45%;
}



/****réa Pro****/

.reaPro{
	text-align: center;
	margin: 15% 0 25% 0;
}

.reaPro img{
	width : 90%;
	text-align: center;
}

.detailButton{
	background-color: #d2e2e4;
	color: rgba(32, 109, 122, 1);
	font-size: 1.5rem;
	border: 1px solid #d2e2e4;
	padding: 5px 10px;
	border-radius: 5px;
}


img.realisationProImg{
	width: 59px;
	height: 37px;
}





/****réa Part****/

.reaPart{
	text-align: center;
	margin: 15% 0 25% 0;
}

.reaPart img{
	width : 90%;
	text-align: center;
}


img.realisationPartImg{
	width: 59px;
	height: 37px;
}


/*****A PROPOS*****/

p{
	font-size: 1.5rem;
}

#signature{
	font-weight: bold;
	text-align: right;
	padding-right: 10%;
}
#aPropos{
	font-style: italic;
    font-family: 'Shadows Into Light', cursive;
}
#aProposText,#aProposImg{
	display: inline-block;
}
#aProposText{
	width: 64%;
	background-color:#000000;
	color: #ffffff;
	padding: 2%;
	text-align: justify;
}
#aProposImg{
	width: 35%;
	vertical-align: top;

}
img#aProposImg{
	width: 100%;

}


/****CONTACT***/

.register{
	text-align: left;
	margin: 1rem auto;
	padding-left: 5%;
}

label{
    display: inline-block;
}
.register>label{
	width: 175px;
	vertical-align: top;
}
textarea{
	border-radius: 5px;
	border: 1px solid #929292;;
}

.mailTel{
	text-align: center;
}

.button-cancel{
	background-color: #dddddd;
	color: grey;
	display: inline-block;
	padding: 0.5em 1em;
	border: none;
	border-radius: 4px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
	line-height: 1.5em;
	text-decoration: none;
	font-size: 75%;
	vertical-align: bottom;
}

/******FOOTER******/



div#facebook{
	text-align: center;

}

div#linkedin{
	text-align: center;
}





/* Tablette */

@media only screen and (min-width: 768px) {
	


	nav>ul{
		display: flex;
	}



	nav>ul>li{
		display: inline-block;
		text-align: center;
		margin: 10px auto;
		width : 25%;
		flex-flow: row nowrap;
		justify-content: space-between;

	}
	#index div{
		display: inline-block;
		width: 20%;
		text-align: center;

	}
	#index div p{
		font-size: 2rem;

	}




	#drop_down_menu, #drop_down_menu ul {
	    padding: 0;
	    margin: 0; 
	    list-style: none;
	}
	#drop_down_menu {
	    text-align: center;
	}
	#drop_down_menu li {
	    display: inline-block;
	}
	#drop_down_menu ul li {
	    display: inherit;
	}
	#drop_down_menu a {
	    text-decoration: none;
	    display: block;
	}
	#drop_down_menu ul {
		display: inline-block;
	    position: relative;
	    text-align: left;
	    padding: 10px 20px;
	    z-index: 1000;
	}
	#drop_down_menu li:hover ul {
	    left: auto;
	}


	section #aPropos img, section #aPropos h1{
		
		display: inline-block;
		text-align: left;

	}

	#facebook, #twitter, #linkedin{
		display: inline-block;
		width: 30%;
		text-align: center;
		font-size: 3rem;
	}
	

	/******FOOTER******/

	footer{
		text-align: center;
		margin-top: 5rem;
		border: 1px dashed grey;
		background-color: #dddddd;
	}
	#licence>p{
		margin: 0;
	}

	div#facebook{
		text-align: left;

	}

	div#linkedin{
		text-align: right;
	}


	/****réa Pro****/

	.reaPro {
		width : 27%;
		margin: 3%;
		display: inline-block;
		text-align: center;
	}



	/****réa Part****/

	.reaPart {
		width : 18%;
		margin: 3%;
		display: inline-block;
		text-align: center;
	}



/******contact******/
	
	.mailTel{
		display: inline-block;
		text-align: center;
		width : 49%;
	}




	
}


/* Desktop */

@media only screen and (min-width: 1025px) {

#drop_down_menu ul {
	    padding: 10px 100px;
	}

}

